<div class="ui container">
<div class="ui top attached tabular menu" >
<div class="item">
<h1><%= link_to 'Orders', orders_path, method: :get %></h1>
</div>
<div class="item">
<h1><%= link_to 'Plants', plants_path, method: :get %></h1>
</div>
<div class="item">
<h1><%= link_to 'Cuttings', cuttings_path, method: :get %></h1> 
</div>
<div class="item active">
<h1>Dashboard</h1>
</div>
<div class="right menu">
    <div class="item">
<%= button_to "logout", destroy_user_session_path, method: :delete, class:"ui big button"%>
</div>
</div>
</div>

<div class="ui bottom attached segment">
<div class="ui grid">

<div class="eight wide column">
<strong><p>Total number of plants:</strong> <%= @plants.select{|plant| plant.condition != 'dead'}.length + @cuttings.select{|cutting| cutting.condition != 'dead'}.length %> </p>
<strong><p>Number of cuttings:</strong> <%= @cuttings.length %> </p>
<strong><p>Dead plants:</strong> <%= @plants.select{|plant| plant.condition == 'dead'}.length + @cuttings.select{|cutting| cutting.condition == 'dead'}.length%></p>
<strong><p>Dead cuttings:</strong> <%= @cuttings.select{|cutting| cutting.condition == 'dead'}.length%></p>
<strong><p>Plants sold:</strong> <%= @plants.select{|plant| plant.sold == true }.length + @cuttings.select{|cutting| cutting.sold == true }.length %></p>
</div>

<div class="eight wide column">
<% list = @orders.select{|order| order.country_origin == 'Indonesia'} %>
<% avg = []%>
<% list.map do |item| %>
   <%  if item.date_shipped != nil %>
   <% a = Date.parse("#{item.date_order}") %>
   <% b = Date.parse("#{item.date_shipped}") %> 
   <% c = b.mjd - a.mjd %>
   <% avg << c %>
<% end %> 
<% end %>  
<br/> 
<strong><p>Average days from order to ship(Indonesia):</strong>  <%= avg.sum / avg.length %> days</p>

<% list = @orders.select{|order| order.country_origin == 'Indonesia' && order.multiple == true } %>
<% avg = []%>
<% list.map do |item| %>
   <%  if item.date_shipped != nil %>
   <% a = Date.parse("#{item.date_order}") %>
   <% b = Date.parse("#{item.date_shipped}") %> 
   <% c = b.mjd - a.mjd %>
   <% avg << c %>
<% end %> 
<% end %>  
<br/> 
<strong><p>Average days from order to ship multiple plants(Indonesia):</strong>  <%= avg.sum / avg.length %> days</p>

<% list = @orders.select{|order| order.country_origin == 'Indonesia' && order.multiple == false } %>
<% avg = []%>
<% list.map do |item| %>
   <%  if item.date_shipped != nil %>
   <% a = Date.parse("#{item.date_order}") %>
   <% b = Date.parse("#{item.date_shipped}") %> 
   <% c = b.mjd - a.mjd %>
   <% avg << c %>
<% end %> 
<% end %>  
<br/> 
<strong><p>Average days from order to ship single plants(Indonesia):</strong>  <%= avg.sum / avg.length %> days</p>

<br/> 
<% list = @orders.select{|order| order.country_origin == 'Indonesia' && order.date_shipped != nil } %>
<% avg_in_box = [] %>
<% i = 0 %>
<% while (i < list.length) %>
<% avg_in_box << list[i].plants.map{|plant| plant.days_in_box } %>
<% i += 1 %>
<% end %>
<strong><p>Average days in box(Indonesia):</strong>  <%= avg_in_box.inject(:+).inject(:+) / avg_in_box.join(" ").split.length %> days</p>
</div>

<div class="eight wide column">
<table class="ui celled table">
<%# table of plants by name %>
<thead>
<tr><th>Plant Name</th>
    <th># of Plants</th>
    <th># of Cuttings</th>
    <th>Total</th>
  </tr>
</thead>
<%# iterate through all plants and find all unique names and put in array %>
<% uniq_plant = [] %>
<% @plants.each do |plant| %>
<% uniq_plant << plant.name %>
<% end %>
<%# iterate through unique plant names and place in table %>
<% uniq_plant.uniq.each do |plant| %>
<tbody>
<tr>
<%# plant name %>
<td><%= plant %></td>
<%# get count of number of plants we have that match name %>
<td><%= p = @plants.find_all{|specific_plant| specific_plant.condition != "dead" && specific_plant.sold != true && specific_plant.name == plant }.count %></td>
<%# get count of number of cuttings match name  %>
<td><%=  c = @cuttings.find_all{|specific_plant| specific_plant.condition != "dead" && specific_plant.sold != true && specific_plant.name == plant }.count %></td>
<%# total number of plants and cutting %>
<td><%= p + c %></td>
</tr>
</tbody>
<% end %>
</table>
</div>

</div>
</div>