<div class="ui container">
<div class="ui top attached tabular menu" >
<div class="item">
<h1><%= link_to 'Orders', orders_path, method: :get %></h1>
</div>
<div class="item">
<h1><%= link_to 'Plants', plants_path, method: :get %></h1>
</div>
<div class="item">
<h1><%= link_to 'Cuttings', cuttings_path, method: :get %></h1> 
</div>
<div class="item">
<h1><%= link_to 'Dashboard', pages_dashboard_path, method: :get %></h1>
</div>
<div class="item active">
<h1>Sold</h1> 
</div>
<div class="right menu">
    <div class="item">
<%= button_to "logout", destroy_user_session_path, method: :delete, class:"ui big button"%>
</div>
</div>
</div>

<div class="ui bottom attached segment">
<br>
<h1>Plants Sold</h1>
<table class="ui celled unstackable table">
  <thead>
    <tr>
      <th><%= link_to "Tag Number", :sort => "tag" %></th>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th>Unit price</th>
      <th>Arrival date</th>
      <th>Recovery date</th>
      <th>Price</th>
      <th>Profit</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <% if plant.sold == true %>
      <tr>
           <% if plant.tag != nil %>
        <td id="sold"><%= plant.tag %></td>
      <% else %>
        <td id="sold"></td>  
      <% end %> 
        <td id="sold"><%= plant.name %></td>
        <td id="sold">$<%= plant.unit_price %></td>
        <% if plant.arrival_date != nil%>
          <td id="sold"><%= plant.arrival_date.month %>/<%= plant.arrival_date.day %>/<%= plant.arrival_date.year %></td>
        <%else%>
          <td id="sold">Not Recorded</td>
        <%end%>
        <td id="sold"><%= plant.condition %></td>
        <td id="sold">$<%= plant.price %></td>
        <% money = plant.price - plant.unit_price %>
        <td id="sold">$<%= money %></td>
        <td id="sold"><%= link_to 'Show', plant %></td>
        <td id="sold"><%= link_to 'Edit', edit_plant_path(plant) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<h1>Mother Cuttings Sold</h1>
<table class="ui celled unstackable table">
  <thead>
    <tr>
      <th><%= link_to "Tag Number", :sort => "tag" %></th>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th>Cutting date</th>
      <th><%= link_to "Condition", :sort => "condition" %></th>
      <th>Generation</th>
      <th>Parent Tag</th>
      <th>Sold</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuttings.each do |cutting| %>
    <% if cutting.mother != false && cutting.condition != "dead" && cutting.sold != false %>
      <tr>
        <td id="cutting"><%= cutting.tag %></td>
        <td id="cutting"><%= cutting.name %></td>

        <td id="cutting"><%= cutting.cutting_date.month %>/<%= cutting.cutting_date.day %>/<%= cutting.cutting_date.year %></td>
        <td id="cutting"><%= cutting.condition %></td>
        <td id="cutting"><%= cutting.generation %></td>
        <td id="cutting"><%= cutting.parent.tag %></td>
        <td id="cutting">$<%= cutting.price %></td>
        <td id="cutting"><%= link_to 'Show', cutting %></td>
        <td id="cutting"><%= link_to 'Edit', edit_cutting_path(cutting, {:name => cutting.name , :generation => cutting.generation , :parent_id => cutting.parent_id , :parent_type => cutting.parent_type }) %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<h1>Cutting Sold</h1>
<table class="ui celled unstackable table">
  <thead>
    <tr>
      <th><%= link_to "Tag Number", :sort => "tag" %></th>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th>Cutting date</th>
      <th><%= link_to "Condition", :sort => "condition" %></th>
      <th>Generation</th>
      <th>Parent Tag</th>
      <th>Sold</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuttings.each do |cutting| %>
    <% if cutting.mother != true && cutting.condition != "dead" && cutting.sold != false %>
      <tr>
        <td id="cutting"><%= cutting.tag %></td>
        <td id="cutting"><%= cutting.name %></td>

        <td id="cutting"><%= cutting.cutting_date.month %>/<%= cutting.cutting_date.day %>/<%= cutting.cutting_date.year %></td>
        <td id="cutting"><%= cutting.condition %></td>
        <td id="cutting"><%= cutting.generation %></td>
        <td id="cutting"><%= cutting.parent.tag %></td>
        <td id="cutting">$<%= cutting.price %></td>
        <td id="cutting"><%= link_to 'Show', cutting %></td>
        <td id="cutting"><%= link_to 'Edit', edit_cutting_path(cutting, {:name => cutting.name , :generation => cutting.generation , :parent_id => cutting.parent_id , :parent_type => cutting.parent_type }) %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>

</div>
</div>