
 <strong><%= link_to 'New Cutting', new_cutting_path({:name => @cutting.name , :generation => @cutting.generation + 1 , :parent_id => @cutting.id , :parent_type => "Cutting" }) %></strong>
<p>
  <strong>Name:</strong>
  <%= @cutting.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @cutting.tag %>
</p>

<p>
  <strong>Cutting date:</strong>
  <%= @cutting.cutting_date.month %>/<%= @cutting.cutting_date.day %>/<%= @cutting.cutting_date.year %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @cutting.generation %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @cutting.sold %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cutting.price %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @cutting.parent_id %>
</p>

<p>
  <strong>Parent type:</strong>
  <%= @cutting.parent_type %>
</p>

<p>
  <strong>Mother:</strong>
  <%= @cutting.mother %>
</p>

<% if @cutting.offspring != nil %>
<ul>
  <% @cutting.offspring.each do |cutting| %>
  <p><%= cutting.cutting_date - Date.today %></p>
    <li><%= link_to "Tag: #{cutting.tag} | Name: #{cutting.name} | Gen: #{cutting.generation}", cutting_path(cutting)  %></li>
  <% end %>
</ul>  
<% end %>

<%= link_to 'Edit', edit_cutting_path(@cutting , {:name => @cutting.name , :generation => @cutting.generation , :parent_id => @cutting.parent_id , :parent_type => @cutting.parent_type }) %> |
<% if @cutting.mother == false %>
<%= link_to 'Back', cuttings_path %>
<% else %>
<%= link_to 'Back', plants_path %>
<% end %>
