<%= form_with(model: cutting_note, local: true) do |form| %>
  <% if cutting_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cutting_note.errors.count, "error") %> prohibited this cutting_note from being saved:</h2>

      <ul>
        <% cutting_note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.select :title, ['update', 'illness', 'cutting'] %>
  </div>

  <div class="field">
    <%= form.label :note_date %>
    <%= form.date_select :note_date %>
  </div>

  <div class="field">
    <%= form.label :text_field %>
    <%= form.text_area :text_field %>
  </div>

  <div class="field">
    <%= form.text_field :cutting_id, value: params[:cutting_id] , type: "hidden" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
